#container{
	margin-top: 100px;
	background: url(../images/login_background.jpg);
}
#title{
	color: white;
	font-size: 50px;
	font-family: "微软雅黑";
	text-align: center;
	padding-top: 20px;
}
#right_box{
	width: 315px;
	height: 370px;
	margin-left: 675px;
	margin-top: 70px;
	background: url(../images/login.jpg);
}
#select_categ{
	width: 180px;
	margin-top:75px ;
	margin-left: 70px;
	font-size: 16px;
}
#select_categ select{
	width: 85px;
	height: 25px;
}
#username{
	width: 265px;
	height: 55px;
	background: url(../images/username.jpg);
	margin: 95px auto 0px auto;
	line-height: 55px;
}
#username input{
	height: 25px;
	width: 180px;
	margin-left: 55px;
}

#password{
	width: 265px;
	height: 55px;
	background: url(../images/password.jpg);
	margin: 30px auto 0px auto;
	line-height: 55px;
}
#password input{
	height: 25px;
	width: 180px;
	margin-left: 55px;
}
#login{
	width: 265px;
	height: 50px;
	background: #ffc300;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	margin: 25px auto 0px auto;
}
#login_category{
	color: white;
	text-align: center;
	font-size: 14px;
}
